@model IEnumerable<Proyecto_Web.Models.Equipo>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Equipos</h2>
<p>
    <a asp-action="Nuevo">Create New</a>
</p>

<h1>Tabla de Equipos</h1>

@if (ViewBag.result != null)
{
    if (ViewBag.result == "Success")
    {
        <div class="alert alert-success alert-dismissible" id="myAlert">
            <a href="#" class="close">&times;</a>
            <strong>Acción hecha correctamente</strong>
        </div>

    }
    else
    {
        <div class="alert alert-danger alert-dismissible" id="myAlert">
            <a href="#" class="close">&times;</a>
            <strong>No se pudo ejecutar</strong>
        </div>

    }

}

            
<p>
    Encontrar por nombre:  <input type="text" id="searchInput" onkeyup="myFunction()" />                    
</p>    

<center>
    <table class="table table-striped table-hover" id="datatable">
        <thead>
            <tr>
                <th>Nombre</th>
                <!--@Html.ActionLink("Nombre", "Index", new { sortOrder = ViewBag.NameSortParm })-->
                <th>Gremio</th>
                <th>Estado</th>
                <th>Localidad</th>
                <th>Disciplina</th>
                <th></th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Nombre</th>
                <!--@Html.ActionLink("Nombre", "Index", new { sortOrder = ViewBag.NameSortParm })-->
                <th>Gremio</th>
                <th>Estado</th>
                <th>Localidad</th>
                <th>Disciplina</th>
                <th></th>
            </tr>
        </tfoot>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.gremio.id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.gremio.estado.nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.gremio.localidad)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.disciplina.nombre)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "editar", new {  id=item.id }, new { @class = "btn btn-warning btn-sm" }) 
                        @Html.ActionLink("Detalles", "detallesEquipo", new { item.id }, new { @class = "btn btn-info btn-sm" }) 
                        @Html.ActionLink("Eliminar", "Eliminar", new { item.id }, new { @class= "btn btn-danger btn-sm", data_toggle="confirmation"})                        
                    </td>
                </tr>
            }
        </tbody>
    </table>
</center>

<br />
@Html.ActionLink("Regresar", "Index", "Administracion", new {  }, new { @class = "btn btn-default" })




<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
<script src="~/lib/bootstrap-confirmation/bootstrap-confirmation.js"></script>
<script>
    $('[data-toggle=confirmation]').confirmation({
        rootSelector: '[data-toggle=confirmation]',
        container: 'body'
    });
</script>