@model IEnumerable<Proyecto_Web.Models.Evento>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Nuevo">Crear nuevo</a>
</p>

<p>
    Encontrar por nombre:  <input type="text" id="searchInput" onkeyup="myFunction()" />
</p>    

<table class="table" id="datatable">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Fecha de inicio</th>
            <th>Fecha de clausura</th>
            <th></th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>Nombre</th>
            <th>Fecha de inicio</th>
            <th>Fecha de clausura</th>
            <th></th>
        </tr>
    </tfoot>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>                
                <td>
                    @Html.DisplayFor(modelItem => item.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modeItem => item.fecha_inicio)
                </td>
                <td>
                    @Html.DisplayFor(modeItem => item.fecha_final)
                </td>
                <td>                    
                    @Html.ActionLink("Editar", "Editar", new {  id=item.id  }, new { @class = "btn btn-warning btn-sm" }) |                    
                    @Html.ActionLink("Eliminar", "Eliminar", new { item.id }, new { @class = "btn btn-danger btn-sm", data_toggle = "confirmation" })
                    
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    @using (Html.BeginForm("Index", "Administracion"))
    {
        <br />
        <div class="col-lg-10 ">
            <button class="btn btn-default" type="submit">Regresar</button>
        </div>
    }

</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
<script src="~/lib/bootstrap-confirmation/bootstrap-confirmation.js"></script>
<script>
    $('[data-toggle=confirmation]').confirmation({
        rootSelector: '[data-toggle=confirmation]',
        container: 'body'
    });
</script>