@model IEnumerable<Proyecto_Web.Models.Gremio>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Gremio</h2>
<p>
    <a asp-action="Nuevo">Create New</a>
</p>

<p>
    Encontrar por nombre:  <input type="text" id="searchInput" onkeyup="myFunction()" />
</p>    

<table class="table" id="datatable">
    <thead>
        <tr>
            <th>Gremio</th>
            <th>Estado</th>
            <th>Localidad</th>            
            <th></th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>Gremio</th>
            <th>Estado</th>
            <th>Localidad</th>
            <th></th>
        </tr>
    </tfoot>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.localidad)
            </td>
            <td>
                @Html.DisplayFor(modeItem =>item.estado.nombre)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>

<div>
    @using (Html.BeginForm("Index", "Administracion"))
    {
        <br />
        <div class="col-lg-10 ">
            <button class="btn btn-default" type="submit">Regresar</button>
        </div>
    }

</div>