
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<form asp-action="Edit" class="form-horizontal">
    <fieldset>
        <legend>Noticia</legend>
        @if (ViewBag.result != null)
        {
            if (ViewBag.result == "Success")
            {
                <div class="alert alert-success alert-dismissible" id="myAlert">
                    <a href="#" class="close">&times;</a>
                    <strong>Insertado correctamente</strong>
                </div>

            }
            else
            {
                <div class="alert alert-danger alert-dismissible" id="myAlert">
                    <a href="#" class="close">&times;</a>
                    <strong>No se pudo insertar</strong>
                </div>

            }

        }
        <div class="form-group">
            <label for="inputNombre" class="col-lg-2 control-label">Titulo</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="inputNombre" name="inputNombre" placeholder="Nombre" required value="@ViewBag.noticia.titulo">
            </div>
        </div>
        <div class="form-group">
            <label for="inputFecha" class="col-lg-2 control-label">Fecha del partido</label>
            <div class="col-lg-10">
                <input type="date" class="form-control" id="inputFecha" name="inputFecha" required value="@ViewBag.noticia.fecha"/>                
            </div>
        </div>
        <div class="form-group">
            <label for="selectEvento" class="col-lg-2 control-label">Evento</label>
            <div class="col-lg-10">
                <select class="form-control" id="selectEvento" name="selectEvento" required>
                    @foreach (var Evento in ViewBag.eventos)
                    {
                        if (ViewBag.noticia.evento.id == Evento.id)
                        {
                            <option value="@Evento.id" selected>@Evento.nombre</option>
                        }
                        <option value="@Evento.id">@Evento.nombre</option>

                    }
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="inputNoticia" class="col-lg-2 control-label">Noticia:</label>
            <div class="col-lg-10">
                <textarea maxlength="200" class="form-control" rows="5" id="inputNoticia" name="inputNoticia" >@ViewBag.noticia.noticia</textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <button type="reset" class="btn btn-default">Cancel</button>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </fieldset>
</form>

<div>
    @using (Html.BeginForm("Index", "Noticia"))
    {
        <br />
        <div class="col-lg-10 col-lg-offset-2">
            <button class="btn btn-default" type="submit">Regresar</button>
        </div>
    }

</div>