
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int idpartido = ViewBag.partido.id;    
}

<div style="margin-top:50px">
    <h2>Detalles Partido</h2>

    <h4>Partido</h4>     
    <dl class="dl-horizontal">
        <dt>
            Fecha
        </dt>
        <dd>
            @ViewBag.partido.fecha
        </dd>
        <dt>
            Hora
        </dt>
        <dd>
            @ViewBag.partido.hora
        </dd>
        <dt>
            Disciplina
        </dt>
        <dd>
            @ViewBag.partido.disciplina.nombre
        </dd>
       
    </dl>    
    <form asp-action="Registrar" class="form-horizontal">
        <fieldset>
            <legend>Registrar resultados</legend>
            @if (ViewBag.result != null)
            {
                if (ViewBag.result == "Success")
                {
                    <div class="alert alert-success alert-dismissible" id="myAlert">
                        <a href="#" class="close">&times;</a>
                        <strong>Insertado correctamente</strong>
                    </div>

                }
                else
                {
                    <div class="alert alert-danger alert-dismissible" id="myAlert">
                        <a href="#" class="close">&times;</a>
                        <strong>No se pudo insertar</strong>
                    </div>

                }

            }
            <input type="text" name="id" value="@ViewBag.partido.id" hidden/>
            <div class="form-group">
                <label for="r2" class="col-lg-2 control-label">@ViewBag.partido.equipo1.nombre</label>
                <div class="col-lg-10">
                    <input type="number" min="0" required name="r2" value="@ViewBag.partido.r1" />
                </div>
            </div>
            <div class="form-group">
                <label for="r1" class="col-lg-2 control-label">@ViewBag.partido.equipo2.nombre</label>
                <div class="col-lg-10">
                    <input type="number" min="0" required name="r1" value="@ViewBag.partido.r2" />
                </div>
            </div>           
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">                    
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
